.is-complete{
    text-decoration: line-through;
}
.todo{
    background: #f4f4f4;
    padding:10px;
    border-bottom: 1px black solid;
}
.del{
    background: red;
    color : #fff;
    border-radius: 30%; 
    cursor: pointer;
    float: right;
}